.App {
  text-align: center;
}

.menu-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.mains {
  grid-column: 1 / 2;
}

.mains-name {
  margin: 0;
  flex-grow: 1;
  color: #055342;
}

.mains-description {
  flex: 1 1 100%;
  margin: 0.75rem 0 0;
  color: #ffffff;
}
.mains-price {
  color: #b82f0de3;
}
@keyframes slide {
  from { left: 0 }
  to { left: -980px }
}

.slider {
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  animation-name: slide;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.container div {
  padding: 20px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 100px;
  width: 100px;
}

div img {
  height: auto;
  width: 100%;
}
